<%= flash[:notice] %>

<div class="field">

    <p>Title</p>
      <p><%= @book.title %></p>

    <p>body</p>
      <p><%= @book.body %></p>
</div>

  <% if @book.user == current_user %>

    <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %>

  <% end %>

</div>