<div>
  <%= image_tag @book.get_image %>


  <% if @post_image.user == current_user %>

    <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>

  <% end %>

</div>