<div>
  <%= image_tag @book.get_image %>

  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>

  <% if @post_image.user == current_user %>

    <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>

  <% end %>

</div>